/* Algemene stijlen voor het hele document */
body {
    margin: 0;
    padding: 0;
}

/* Stijlen voor de sectie met profielfoto en naam */
.profile-section {
    display: flex;
    flex-direction: column;
}

/* Stijlen voor de navigatiebalk */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    justify-content: left;
    height: 100vh;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Stijlen voor de samenvatting-sectie */
#summary {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/* Stijlen voor de profielfoto */
.profile-picture {
    /* width: 100px;
    height: 80; */
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Stijlen voor de afbeelding binnen de profielfoto */
.profile-picture img {
    width: 110px;
    height: 90px;
    border-radius: 50%;
    display: block;
}

/* Stijlen voor de naam */
.name {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

/* Stijlen voor de samenvattingscontainers */
.summary-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
}

/* Stijlen voor de kopjes binnen de samenvattingscontainers */
.summary-container h3 {
    color: #555;
    margin-bottom: 10px;
}
